<!DOCTYPE html>

<!-- Written by Hardcore  -->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> AGROSOFT </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-social.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<main class="site-wrapper">
    <div class="pt-table desktop-768">
        <div class="pt-tablecell page-home relative" style="background-image: url(https://images.unsplash.com/photo-1586771107445-d3ca888129ff?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGFncmljdWx0dXJlfGVufDB8fDB8fHww); background-position: center; background-size: cover;">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                        <div class="page-title  home text-center">
                            <span class="heading-page">Hardcore </span>

                                <p class="text-light"> Partagez, Apprenez, Excellez : L'Université Connectée selon Hardcore.</p>
                        </div>

                        <div class="hexagon-menu clear">

                            <h1 style="color: darkred;">Vous n'êtes pas autorisé à consulter cette page</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>




</body>

</html>