<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercices Disponibles</title>
    <link rel="stylesheet" href="/css/exercises.css">
</head>
<body>

<header>
    <h1>Exercices Disponibles</h1>
</header>

<main class="exercise-container">
    <div class="exercise">
        <h2>Exercice sur Jakarta EE</h2>
        <p><span style="font-weight: bolder">Description: </span> Le fichier "Exercice sur Jakarta EE" vous offre des exercices pratiques axés sur la plateforme Jakarta EE
            (Enterprise Edition). Explorez ce contenu pour perfectionner vos compétences dans le développement
            d'applications d'entreprise Java à l'aide des normes Jakarta EE. Des exercices variés vous permettront de
            maîtriser les concepts clés tels que la gestion des transactions, la persistance des données, et la création
            d'applications robustes et évolutives sur la plateforme Jakarta EE.</p>
        <p><span style="font-weight: bolder">Catégorie: </span> Développement</p>
        <p><span style="font-weight: bolder">Niveau : </span> Difficile</p>
        <a href="/exercises/jakarta_exo.pdf" download="jakarta_exo.pdf" class="download-link">Télécharger l'exercice</a>
    </div>

    <div class="exercise">
        <h2>Evaluez-vous en Programmation Orienté Objet</h2>
        <p><span style="font-weight: bolder">Description: </span> Évaluez-vous en Programmation Orientée Objet" offre des exercices permettant d'évaluer vos compétences en
            programmation orientée objet (POO) à travers des scénarios pratiques et des questions ciblées. Explorez ce
            fichier pour tester et améliorer votre compréhension des concepts fondamentaux de la POO.

        </p>
        <p><span style="font-weight: bolder">Catégorie: </span> Développement</p>
        <p><span style="font-weight: bolder">Niveau : </span> Facile</p>
        <a href="/exercises/poo_exo.pdf" download="jakarta_exo.pdf" class="download-link">Télécharger l'exercice</a>
    </div>

    <div class="exercise">
        <h2>Exercice SQL pour Oracle</h2>
        <p><span style="font-weight: bolder">Description: </span> Le fichier "Exercice SQL pour Oracle" propose des exercices conçus spécifiquement pour pratiquer et
            améliorer vos compétences en SQL orienté Oracle. Plongez dans ce matériel pour renforcer votre maîtrise des
            requêtes SQL, des opérations de base aux fonctionnalités avancées, tout en vous familiarisant avec
            l'environnement Oracle.</p>
        <p><span style="font-weight: bolder">Catégorie: </span> DATA</p>
        <p><span style="font-weight: bolder">Niveau : </span> Moyen</p>
        <a href="/exercises/oracle_exo.pdf" download="oracle_exo.pdf" class="download-link">Télécharger l'exercice</a>
    </div>
</main>

</body>
</html>
